.cls-1,
.cls-2,
.cls-3,
.cls-4 {
  opacity: 0;
  transform: translateX(-10%);
  animation: slideIn 0.8s forwards;
}

.cls-5 {
  fill: #fff;
  opacity: 0;
  animation: fadeIn 4s forwards;
  -o-animation: fadeIn 4s forwards;
  -webkit-animation: fadeIn 4s forwards;
  -moz-animation: fadeIn 4s forwards;
}

#ctd-logo-C {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#ctd-logo-A {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#ctd-logo-R {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#ctd-logo-O {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#ctd-logo-t {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#ctd-logo-h {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
#ctd-logo-e {
  animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}
#ctd-logo-DEV {
  animation-delay: 1.7s;
  -o-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}
#ctd-logo-blue {
  fill: #0e5b7f;

  animation: slideIn 0.8s forwards;
  -o-animation: slideIn 0.8s forwards;
  -moz-animation: slideIn 0.8s forwards;
  -webkit-animation: slideIn 0.8s forwards;

  animation-delay: all 2s;
  -o-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
#ctd-logo-red {
  fill: #8e2112;

  animation: slideIn 0.8s forwards;
  -o-animation: slideIn 0.8s forwards;
  -moz-animation: slideIn 0.8s forwards;
  -webkit-animation: slideIn 0.8s forwards;

  animation-delay: all 2.1s;
  -o-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  -webkit-animation-delay: 2.1s;
}
#ctd-logo-orange {
  fill: #cd6600;

  animation: slideIn 0.8s forwards;
  -o-animation: slideIn 0.8s forwards;
  -moz-animation: slideIn 0.8s forwards;
  -webkit-animation: slideIn 0.8s forwards;

  animation-delay: all 2.2s;
  -o-animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
  -webkit-animation-delay: 2.2s;
}
#ctd-logo-yellow {
  fill: #fcb444;

  animation: slideIn 0.8s forwards;
  -o-animation: slideIn 0.8s forwards;
  -moz-animation: slideIn 0.8s forwards;
  -webkit-animation: slideIn 0.8s forwards;

  animation-delay: all 2.3s;
  -o-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  -webkit-animation-delay: 2.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10%,
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10%,
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10%,
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10%,
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-o-keyframes slideIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0%);
  }
}
@-moz-keyframes slideIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
